<div class="fix">
  <app-navbar></app-navbar>
</div>
<div class="container mt-5 pt-4">
  <header class="text-center my-4">
    <h1>Welcome to the College Management System</h1>
  </header>

  <section class="mb-5 mt-3">
    <h2>Overview</h2>
    <p>
      The College Management System is a comprehensive platform designed to
      streamline various administrative and academic processes within the
      college or university. It provides an efficient way for students, faculty,
      and administrators to interact and manage their academic responsibilities.
    </p>
  </section>

  <section class="mb-5 mt-5">
    <h2>Quick Links</h2>
    <div class="list-group">
      <a
        href="#student-dashboard"
        class="list-group-item list-group-item-action"
        >Student Dashboard</a
      >
      <a
        href="#faculty-dashboard"
        class="list-group-item list-group-item-action"
        >Faculty Dashboard</a
      >
      <a href="#admin-dashboard" class="list-group-item list-group-item-action"
        >Admin Dashboard</a
      >
      <a href="#course-catalog" class="list-group-item list-group-item-action"
        >Course Catalog</a
      >
      <!-- Add more links as needed -->
    </div>
  </section>

  <section>
    <h2>Announcements</h2>
    <div class="alert alert-info">
      <strong>Important Announcement:</strong> Lorem ipsum dolor sit amet,
      consectetur adipiscing elit.
    </div>
    <!-- Add more announcements as needed -->
  </section>
</div>
